<footer>
    <div class="menu">
        <h2>Menu</h2>
        <div class="liste">
            <a>Home</a>
            <a>Rate</a>
            <a>About</a>
            <a>Contact</a>
        </div>
    </div>
    <div class="copy">
        <img src="logo/logo.png" alt="">
        <p>&copy; 2026 We explore Madagascar</p>
    </div>
    <div class="produit">
        <h2>Produits</h2>
        <div class="liste">
            <a>Adventure</a>
            <a>Classique</a>
            <a>Randonnées</a>
        </div>
    </div>
</footer>